*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 1340px;
  height: 615px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.navbar__link {
  font-size: 13px;
  color: #70757a;
  text-decoration: none;
  padding: 13px;
}

a.navbar__link:hover {
  text-decoration: underline;
}


.appsbutton svg {
  width: 24px;
  height: 24px;
  color: #5f6368;
  opacity: 1;
}


.appsbutton:hover {
  background-color: #F0F0F0;
  border-radius: 10px;
}

.navbar__link__button {
  width: 130px;
  height: 38px;
  background-color: #5094ED;
  color: #ffffff;
  background-attachment: scroll;
  background-clip: border-box;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25;
  line-height: 16px;
  text-align: center;
}

.navbar__link__button:hover {
  cursor: pointer;
  box-shadow: 0px 13px 31px 4px rgba(80,148,237,0.22);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}


.inputs__item {
  min-width: 54px;
  height: 36px;
  color: #202124;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  font-size: 14px;
  margin: 15px;
  line-height: 27px;
  text-align: center;
  border-radius: 4px;
}

.inputs__item:hover {
  cursor: pointer;
  border: 1px solid rgb(218, 218, 218);

}

.input {
  border: 1px solid rgb(223, 225, 229);
  color: #202124;
  font-size: 14px;
  border-radius: 20px;
  width: 582px;
  height: 44px;
}

.sec {
  position: relative;
}

.sec input {
  display: block;
}

.search-icon {
  width: 20px;
  height: 20px;
  position: absolute; 
  top: 10px; 
  left: 10px
}

.tia-icon {
  width: 24px;
  height: 24px;
  position: absolute; 
  top: 10px; 
  right: 40px
}

.voicelogo-icon {
  width: 24px;
  height: 24px;
  position: absolute; 
  top: 10px; 
  right: 10px
}

.footer {
  background-color: #F2F2F2;
  color: #70757a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  bottom: 0px;
}

.content {
  font-size: 14px;
}

.content img {
  width: 12px;
  height: 14px;
}

.hr {
  border: 1px solid #dadce0;
}

.sub-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: #70757a
}

a:hover {
  text-decoration: underline;
  color: #70757a
}

.list__item {
  padding-inline-end: 10px;
  color: #70757a;
  font-size: 14px;
}